.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;  font-size: medium;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: medium;
}

/* This ultimately changed the row background */
div.react-grid-Row:hover div.react-grid-Cell{background-color:blue}.react-grid-Row:hover .rdg-row-index{display:none}

div.react-grid-Cell {
    background-color: crimson;
}

.react-grid-Row.disabled {
    background-color: blue;
}


.react-grid-Row.enabled:hover {
    background-color: bisque;
}

div.react-grid-Row.react-grid-Row--odd:hover {
    background-color: bisque;
}

div.react-grid-Row.row-selected {
    background-color: #DBECFA;
}

div.react-grid-Row .row-selected{
    background-color: #DBECFA;
}

.react-grid-Row.row-selected{
    background-color: #DBECFA;
}

.react-grid-Row .row-selected{
    background-color: #DBECFA;
}

div.react-grid-Cell {
    background-color: purple;
}

div.react-grid-Cell:hover {
    background-color: brown;
}

div.react-grid-Cell:hover {
    background-color: orange;
}

div.react-grid-Row.react-grid-Row--odd.disabled:hover {
    background-color: purple;
}

div.react-grid-Row.react-grid-Row--even.enabled:hover {
    background-color: darkgray;
}

div.react-grid-Row.react-grid-Row--odd.enabled:hover {
    background-color: purple;
}

div.react-grid-Row.react-grid-Row--even.disabled:hover {
    background-color: darkgray;
}


div.react-grid-HeaderCell {
  background-color: blue;
}

div.react-grid-Cell {
  background-color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
