.App {
  text-align: center;
  font-size: small;
  background-color: black;
  color: lightgreen;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: small ;
}

div.react-grid-HeaderCell {
  background-color: blue;
}

div.react-grid-Cell {
  background-color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
